/* Blog Single */
article.single {
  width: 100%;
  position: relative;
  margin-top: 30px;
  .cntr {
    max-width: 720px; 
  }
  .cntr.wide {
    max-width: 1220px;
    position: relative; 
  }
  .full-thumbnail {
    margin: 25px auto;
    img {
      object-fit: cover;
      height: 560px;
      width: 100%;
    }
  }
  .meta {
    color: #999;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h5 {
      margin: 0;
    }
    .author-avatar {
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      width: 56px;
      height: 56px;
      background-color: #999;
    }
    .entry-date {
      font-size: 12px;
      margin-top: 10px;
    }
  }
  .entry-content {
    h1, h2, h3, h4, h5 {
      margin: 25px 0;
    }
    h3{
      font-size: 20px;
    }
    a {
      color: #000;
    }
    img {
      width: 100%;
      height: auto;
      margin: 15px 0;
    }
    ul {
      padding-left: 25px;
      li {
        line-height: 20px;
        font-size: 16px;
        list-style: circle;
        margin: 15px 0;
      }
    }
    ol {
      padding-left: 25px;
      li {
        line-height: 20px;
        font-size: 16px;
        margin: 15px 0;
      }
    }
    blockquote, q {
      border-left: 2px solid #4a4a4a;
      padding: 5px 0 5px 15px;
      margin: 15px 0;
      p {
        margin: 0
      }
    }
    figure {
      margin: 15px 0;
      display: inline-block;
      figcaption {
        font-size: 14px;
      }
    }
  }
}
.post-nav {
  margin: 60px 0;
  padding: 25px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .cntr {
    display: flex;
    align-items: center;
    &.has-initial {
      justify-content: space-between;
    }
    &.has-next {
      justify-content: flex-end;
    }
  }
  a.prev-post,
  a.next-post {
    max-width: 400px;
    span{
      font-weight: lighter;
    }
    span,
    h5 {
      color: #4a4a4a;
      font-size: 14px;
      line-height: 1.2em;
    }
  }
  a.next-post {
    text-align: right;
  }
}
.related-posts {
  margin-bottom: 60px;
  h2 {
    font-family: Georgia,serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
  }
  .col {
    margin-top: 0;
  }
}
.entry-comments {
  max-width: 720px;
  margin-top: 40px;
  .form-comments {
    h3 {
      font-family: Georgia,serif;
      font-size: 20px;
      margin-bottom: 5px;
    }
    input,
    textarea {
      border: 0;
      border: 1px solid #eee;
      padding: 15px 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }
    textarea {
      width: 100%;
      resize: vertical;
      min-height: 120px;
    }
    .dual-input {
      display: flex;
      justify-content: space-between;
      input {
        width: 49%;
      }
    }
    .input-submit {
      cursor: pointer;
    }
  }
}