
.img-blog {
  position: relative;
  img {
    height: auto;
    width: 100%;
  }
}
.entry-date {
  margin-top: 15px;
  color: #999;
  font-weight: lighter;
  font-size: 14px;
  display: block;
}
h3 {
  margin-top: 15px;
  color: #4A4A4A;
  font-size: 16px;
  line-height: 1.5em;
  a {
    display: block;
    color: #4A4A4A;
  }
}
p {
  font-size: 14px;
  margin: 15px 0;
  color: #4A4A4A;
  font-weight: lighter;
}
.foot-blg-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .read-more {
    color: #999;
    font-weight: lighter;
    font-size: 14px;
  }
}
